<h1 mat-dialog-title>New Database</h1>
<mat-dialog-content>
    <mat-horizontal-stepper linear="true" #stepper style="height: 100%;">
      <mat-step >
        <ng-template matStepLabel>Data</ng-template>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input text matInput [(ngModel)]="name">
        </mat-form-field>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Approve</ng-template>
        <table class="mat-table" >
          <tr class="mat-row">
            <td class="mat-cell">Allowance</td>
            <td class="mat-cell">{{ db_allowanceHumanReadle }} eMTV</td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Price</td>
            <td class="mat-cell">{{ priceHumanRedeable }} eMTV</td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Transaction</td>
            <td class="mat-cell">{{ approveTransaction && approveTransaction.hash }}</td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Transaction Status:</td>
            <td class="mat-cell">
              {{ (approveTransaction && approveTransaction.blockHash) ? "Confirmed" : ""}}
              {{ (approveTransaction && !approveTransaction.blockHash) ? "Pending" : ""}}
            </td>
          </tr>
        </table>
        <mat-progress-bar *ngIf="approveTransaction && ! approveTransaction.blockHash" mode="indeterminate"></mat-progress-bar>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Save</ng-template>
          <table class="mat-table" >
            <tr class="mat-row">
              <td class="mat-cell">Transaction</td>
              <td class="mat-cell">{{ createTransaction && createTransaction.hash }}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-cell">Transaction Status:</td>
              <td class="mat-cell">
                {{ (createTransaction && createTransaction.blockHash) ? "Confirmed" : ""}}
                {{ (createTransaction && !createTransaction.blockHash) ? "Pending" : ""}}
              </td>
            </tr>
          </table>
        <mat-progress-bar *ngIf="createTransaction && ! createTransaction.blockHash" mode="indeterminate"></mat-progress-bar>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-dialog-content>
  <!-- <mat-dialog-actions align="end"> -->
  <mat-dialog-actions>
    <button mat-flat-button color="warn" *ngIf="(this.stepper.selectedIndex != 2) && (!createTransaction)" (click)="cancel()">Cancel</button>
    <span class="spacer"></span>
    <button mat-flat-button *ngIf="this.stepper.selectedIndex == 0" (click)="next()">Next<mat-icon>arrow_right</mat-icon></button>
    <button mat-flat-button *ngIf="this.stepper.selectedIndex == 1 && (approveTransaction && approveTransaction.blockHash)" (click)="next()">Next<mat-icon>arrow_right</mat-icon></button>

    <button mat-button *ngIf="(this.stepper.selectedIndex == 1) && (!approveTransaction)" (click)="approve()">Approve</button>
    <button mat-flat-button [disabled]="createTransaction && ! createTransaction.blockHash" *ngIf="this.stepper.selectedIndex == 2 && (approveTransaction && approveTransaction.blockHash) && (!createTransaction)" (click)="create()">create</button>
    <button mat-flat-button *ngIf="this.stepper.selectedIndex == 2 && createTransaction && createTransaction.blockHash" (click)="cancel()">Close</button>
  </mat-dialog-actions>

<!--

  <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create Database
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>The database name must me unique!</p>
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input text matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="setStep(1)">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 1" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Approve
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="approveTransaction && approveTransaction.blockHash">done</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngIf="approveTransaction">Transaction: {{ approveTransaction.txHash }}</p>
    <p *ngIf="approveTransaction">Transaction Status: {{ approveTransaction.status }}</p>

    <p>Current allowance: {{ allowance }} eMTV</p>
    <p>Price: {{ priceHumanRedeable }} eMTV</p>
    <p *ngIf="approveTransaction && approveTransaction.blockHash">Status: Confirmed</p>
    <p *ngIf="approveTransaction && !approveTransaction.blockHash">Status: Pending</p>

    <mat-progress-bar *ngIf="approveTransaction && ! approveTransaction.blockHash" mode="indeterminate"></mat-progress-bar>
    <mat-action-row>
      <button mat-button color="primary" [disabled]="approveTransaction && approveTransaction.blockHash" (click)="approve()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CreateDatabase
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="createTransaction && createTransaction.blockHash">done</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p *ngIf="createTransaction">Transaction: {{ createTransaction.txHash }}</p>
    <p *ngIf="createTransaction">Transaction Status: {{ createTransaction.status }}</p>
    <p *ngIf="createTransaction && createTransaction.blockHash">Status: Confirmed</p>
    <p *ngIf="createTransaction && !createTransaction.blockHash">Status: Pending</p>

    <mat-progress-bar *ngIf="createTransaction && ! createTransaction.blockHash" mode="indeterminate"></mat-progress-bar>

    <mat-action-row>
      <button mat-button color="warn" (click)="create()">Create</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel">Cancel</button>
  <button mat-button [mat-dialog-close]="createTransaction" cdkFocusInitial>Close</button>
</div> -->
