
<h1>Requirements</h1>

<ul>
  <li>Metamask software wallet</li>
  <li>eMTV (for ropsten testnet use faucet at <a href="http://faucet.ropsten.multiversum.io">http://faucet.ropsten.multiversum.io</a>)</li>
  <li>ETH (for ropsten testnet use faucet at <a href="https://faucet.dimensions.network/">https://faucet.dimensions.network/</a>)</li>
</ul>

<section>
<img width="640px" src="assets/imgs/screen.png">
</section>

<h1>

</h1>

<h1>Create database</h1>

<ol>
  <li>
    <p>Click new Database Button<p>
    <img width="150px" src="assets/imgs/newDatabase.png">
  </li>
  <li>
    <p>Follow the animation<p>
    <img width="300px" src="assets/imgs/CreateDatabase.gif">
  </li>
</ol>

<h1>Create table</h1>

<ol>
  <li>
    <p>Click new table Button<p>
    <img src="assets/imgs/newTable.png">
  </li>
  <li>
    <p>Follow the animation<p>
    <img width="300px" src="assets/imgs/CreateTable.gif">
  </li>
</ol>

<h1>CRUD Operations</h1>
<p>Select table on left area</p>
<img width="300px" src="assets/imgs/SelectTable.png">
<ul>
  <li>
    <p>Create</p>
    <img src="assets/imgs/InsertButton.png">
    <p>Animation</p>
    <img width="500px" src="assets/imgs/insert.gif">
  </li>
  <li>
    <p>Update</p>
    <img src="assets/imgs/UpdateButton.png">
    <p>Animation</p>
    <img width="600px" src="assets/imgs/update.gif">
  </li>
  <li>
    <p>Delete</p>
    <img src="assets/imgs/DeleteButton.png">
    <p>Animation</p>
    <img width="600px" src="assets/imgs/delete.gif">
  </li>
</ul>
